<div class="row justify-content-center">
<ul class="nav nav-tabs col-md-6">
  <li class="nav-item">
    <a class="nav-link text-white" href="/login">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/signup">Sign Up</a>
  </li>
</ul>
</div>
<div class="row justify-content-center">
      <div class="col-md-6 p-5 border border-white border-5 bg-dark">
    <h2 class="text-center text-white">Sign Up</h2>
<form class="signup-form">
    <div class="form-floating mb-3">
        <input class="form-control" type="text" id="name-signup" placeholder="Alice"/>
        <label for="floatingInput">Name</label>
      </div>
<div class="form-floating mb-3">
        <input class="form-control" type="email" id="email-signup" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
      <input class="form-control mb-3" type="password" id="password-signup">
      <label for="floatingPassword">Password</label>
        <button class="btn btn-primary" type="submit">Sign Up</button>
      </div>
</form>
  </div>
</div>
<script src="./js/signup.js"></script>